* {
  font-family: 'ChivoRegular', Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'LaconicRegular', Helvetica, Arial, sans-serif;
}

.beta-logo {
  background-image: url("../img/beta-ribbon.png");
  background-size: cover;
  background-repeat: no-repeat;
  
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 10;
  
  width: 150px;
  height: 150px;
}

@media (max-width: 1250px) {
  .beta-logo {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1150px) {
  .beta-logo {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 1110px) {
  .beta-logo {
    width: 50px;
    height: 50px;
  }
}

/* FROM OLD CKAN */

header #site-name {
  font-family: 'ChivoRegular', Helvetica, Arial, sans-serif;
}
header #logo {
  float: left;
  margin-top:10px;
  margin-bottom:10px;
}
header .menu {
  float: left;
}
header .menu #menusearch {
  float:none;
  clear:both;
}
header .menu form {
  display:block;
  overflow: hidden;
}

.header.outer {
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(##eaeaea), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #eaeaea, #fafafa);
  background-image:    -moz-linear-gradient(top, #eaeaea, #fafafa);
  background-image:     -ms-linear-gradient(top, #eaeaea, #fafafa);
  background-image:      -o-linear-gradient(top, #eaeaea, #fafafa);
  background-image:         linear-gradient(top, #eaeaea, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaeaea', EndColorStr='#fafafa');
}

body.index.home .front-page .action-box-inner input {
  font-family: 'ChivoRegular', Helvetica, Arial, sans-serif;
}

body.index.home .front-page .action-box-inner .btn-primary {
  float: right;
}
body.index.home .front-page .action-box {
  border-radius: 4px;
  background:  #CAD77F;
  color:#262C00;
}