/*
  ==============================================================================
  ** Drupal specific styling
  ==============================================================================
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.pill {
  background-color: #cccccc;
  color: #ffffff;
  padding: 1px 5px 1px 8px;
  margin-right: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.pill a {
  color: #ffffff;
}
.pill a.remove {
  font-size: 11px;
}
.tag {
  background: url("../../../base/images/background-tag.png") no-repeat -13px center;
  position: relative;
  display: block;
  font-size: 11px;
  line-height: 27px;
  color: #e5420c;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 11px;
}
.tag:before {
  content: "";
  background: url("../../../base/images/background-tag.png") no-repeat center left;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: -11px;
  width: 11px;
}
.unstyled {
  margin: 0;
  list-style: none;
}
.simple-item {
  font-size: 12px;
  line-height: 1.1666666666666667em;
  padding: 7px 25px;
  border-bottom: 1px dotted #cccccc;
}
.simple-item:last-of-type {
  border-bottom: 0;
}
.simple-list {
  *zoom: 1;
  margin: 0;
  list-style: none;
}
.simple-list:before,
.simple-list:after {
  display: table;
  content: "";
}
.simple-list:after {
  clear: both;
}
.simple-list > li {
  font-size: 12px;
  line-height: 1.1666666666666667em;
  padding: 7px 25px;
  border-bottom: 1px dotted #cccccc;
}
.simple-list > li:last-of-type {
  border-bottom: 0;
}
.simple-list .ckan-icon {
  position: relative;
  top: 0px;
}
.module-narrow .simple-list > li {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.listing li {
  text-align: right;
  margin-bottom: 5px;
}
.listing .key {
  clear: right;
  font-weight: bold;
}
.js .tab-content {
  display: none;
}
.js .tab-content.active {
  display: block;
}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
  background-image: linear-gradient(top, #ffffff, #eaeaea);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
  border-color: #eaeaea #eaeaea #c4c4c4;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #eaeaea;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #eaeaea;
  *background-color: #dddddd;
}
.btn:active,
.btn.active {
  background-color: #d1d1d1 \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary {
  background-color: #de5626;
  background-image: -moz-linear-gradient(top, #e5420c, #d3754e);
  background-image: -ms-linear-gradient(top, #e5420c, #d3754e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5420c), to(#d3754e));
  background-image: -webkit-linear-gradient(top, #e5420c, #d3754e);
  background-image: -o-linear-gradient(top, #e5420c, #d3754e);
  background-image: linear-gradient(top, #e5420c, #d3754e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5420c', endColorstr='#d3754e', GradientType=0);
  border-color: #d3754e #d3754e #aa502a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #d3754e;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #d3754e;
  *background-color: #ce653a;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #bf592f \9;
}
.btn-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  background-color: #a9bc31;
  background-image: -moz-linear-gradient(top, #9db21b, #baca53);
  background-image: -ms-linear-gradient(top, #9db21b, #baca53);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9db21b), to(#baca53));
  background-image: -webkit-linear-gradient(top, #9db21b, #baca53);
  background-image: -o-linear-gradient(top, #9db21b, #baca53);
  background-image: linear-gradient(top, #9db21b, #baca53);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9db21b', endColorstr='#baca53', GradientType=0);
  border-color: #baca53 #baca53 #919f31;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #baca53;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #baca53;
  *background-color: #b2c440;
}
.btn-success:active,
.btn-success.active {
  background-color: #a2b337 \9;
}
.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  background-color: #414141;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
/*
 * Button style overrides
 */
.btn {
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  border-color: #ffffff #ffffff #d9d9d9;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ffffff;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #eaeaea;
  *background-color: #dddddd;
  background-position: 0 -50px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.btn:active,
.btn.active {
  background-color: #d1d1d1 \9;
}
.btn-primary {
  background-color: #e5420c;
  background-image: -moz-linear-gradient(top, #e5420c, #e5420c);
  background-image: -ms-linear-gradient(top, #e5420c, #e5420c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5420c), to(#e5420c));
  background-image: -webkit-linear-gradient(top, #e5420c, #e5420c);
  background-image: -o-linear-gradient(top, #e5420c, #e5420c);
  background-image: linear-gradient(top, #e5420c, #e5420c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5420c', endColorstr='#e5420c', GradientType=0);
  border-color: #e5420c #e5420c #9c2d08;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e5420c;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #d3754e;
  *background-color: #ce653a;
  background-position: 0 -50px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #bf592f \9;
}
.btn-warning {
  background-color: #fbb450;
  background-image: -moz-linear-gradient(top, #fbb450, #fbb450);
  background-image: -ms-linear-gradient(top, #fbb450, #fbb450);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#fbb450));
  background-image: -webkit-linear-gradient(top, #fbb450, #fbb450);
  background-image: -o-linear-gradient(top, #fbb450, #fbb450);
  background-image: linear-gradient(top, #fbb450, #fbb450);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#fbb450', GradientType=0);
  border-color: #fbb450 #fbb450 #f89406;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #fbb450;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
  background-position: 0 -50px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  background-color: #ee5f5b;
  background-image: -moz-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -ms-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#ee5f5b));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -o-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: linear-gradient(top, #ee5f5b, #ee5f5b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#ee5f5b', GradientType=0);
  border-color: #ee5f5b #ee5f5b #e51d18;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ee5f5b;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
  background-position: 0 -50px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  background-color: #9db21b;
  background-image: -moz-linear-gradient(top, #9db21b, #9db21b);
  background-image: -ms-linear-gradient(top, #9db21b, #9db21b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9db21b), to(#9db21b));
  background-image: -webkit-linear-gradient(top, #9db21b, #9db21b);
  background-image: -o-linear-gradient(top, #9db21b, #9db21b);
  background-image: linear-gradient(top, #9db21b, #9db21b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9db21b', endColorstr='#9db21b', GradientType=0);
  border-color: #9db21b #9db21b #627011;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #9db21b;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #baca53;
  *background-color: #b2c440;
  background-position: 0 -50px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.btn-success:active,
.btn-success.active {
  background-color: #a2b337 \9;
}
.btn-info {
  background-color: #5bc0de;
  background-image: -moz-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -ms-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -o-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: linear-gradient(top, #5bc0de, #5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#5bc0de', GradientType=0);
  border-color: #5bc0de #5bc0de #28a1c5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #5bc0de;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
  background-position: 0 -50px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  background-color: #555555;
  background-image: -moz-linear-gradient(top, #555555, #555555);
  background-image: -ms-linear-gradient(top, #555555, #555555);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#555555));
  background-image: -webkit-linear-gradient(top, #555555, #555555);
  background-image: -o-linear-gradient(top, #555555, #555555);
  background-image: linear-gradient(top, #555555, #555555);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#555555', GradientType=0);
  border-color: #555555 #555555 #2f2f2f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #555555;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
  background-position: 0 -50px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
/*
  ------------------------------------------------------------------------------
  ** Forum
  ------------------------------------------------------------------------------
*/
.block-forum .module-content,
.block-forum .module-content:last-child,
.block-comment .module-content,
.block-comment .module-content:last-child {
  padding: 0;
}
.page-forum .item-list ul,
.node-type-forum .item-list ul {
  margin-bottom: 0;
}
.page-forum .item-list li,
.node-type-forum .item-list li {
  list-style: none;
  margin-left: 0;
  padding: 10px 15px;
}
.block-forum .more-link {
  border-top: 1px solid #d0d0d0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: right;
}
#forum .forum-table-superheader {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}
#forum .forum-table-name {
  margin: 0;
}
.table.table-bordered th {
  border-bottom: 0;
}
#forum td {
  padding: 10px;
}
#forum th.forum-icon {
  width: 48px;
}
#forum-statistics div {
  padding: 0;
}
#forum-statistics #forum-statistics-header {
  font-weight: bold;
}
#forum-statistics #forum-statistics-statistics-header {
  font-weight: bold;
  margin-top: 20px;
}
/*
  ------------------------------------------------------------------------------
  ** Views
  ------------------------------------------------------------------------------
*/
.views-exposed-form .views-exposed-widget .form-submit {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
  background-image: linear-gradient(top, #ffffff, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
  border-color: #eaeaea #eaeaea #c4c4c4;
  *background-color: #eaeaea;
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border-color: #ccc;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  border-color: #ffffff #ffffff #d9d9d9;
  *background-color: #ffffff;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #de5626;
  background-image: -moz-linear-gradient(top, #e5420c, #d3754e);
  background-image: -ms-linear-gradient(top, #e5420c, #d3754e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5420c), to(#d3754e));
  background-image: -webkit-linear-gradient(top, #e5420c, #d3754e);
  background-image: -o-linear-gradient(top, #e5420c, #d3754e);
  background-image: linear-gradient(top, #e5420c, #d3754e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5420c', endColorstr='#d3754e', GradientType=0);
  border-color: #d3754e #d3754e #aa502a;
  *background-color: #d3754e;
  background-color: #e5420c;
  background-image: -moz-linear-gradient(top, #e5420c, #e5420c);
  background-image: -ms-linear-gradient(top, #e5420c, #e5420c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5420c), to(#e5420c));
  background-image: -webkit-linear-gradient(top, #e5420c, #e5420c);
  background-image: -o-linear-gradient(top, #e5420c, #e5420c);
  background-image: linear-gradient(top, #e5420c, #e5420c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5420c', endColorstr='#e5420c', GradientType=0);
  border-color: #e5420c #e5420c #9c2d08;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e5420c;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  margin-top: 38px;
  padding: 5px 15px;
}
.views-exposed-form .views-exposed-widget .form-submit:hover,
.views-exposed-form .views-exposed-widget .form-submit:active,
.views-exposed-form .views-exposed-widget .form-submit.active,
.views-exposed-form .views-exposed-widget .form-submit.disabled,
.views-exposed-form .views-exposed-widget .form-submit[disabled] {
  background-color: #eaeaea;
  *background-color: #dddddd;
}
.views-exposed-form .views-exposed-widget .form-submit:active,
.views-exposed-form .views-exposed-widget .form-submit.active {
  background-color: #d1d1d1 \9;
}
.views-exposed-form .views-exposed-widget .form-submit:first-child {
  *margin-left: 0;
}
.views-exposed-form .views-exposed-widget .form-submit:hover,
.views-exposed-form .views-exposed-widget .form-submit:active,
.views-exposed-form .views-exposed-widget .form-submit.active,
.views-exposed-form .views-exposed-widget .form-submit.disabled,
.views-exposed-form .views-exposed-widget .form-submit[disabled] {
  background-color: #eaeaea;
  *background-color: #dddddd;
  background-position: 0 -50px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.views-exposed-form .views-exposed-widget .form-submit:active,
.views-exposed-form .views-exposed-widget .form-submit.active {
  background-color: #d1d1d1 \9;
}
.views-exposed-form .views-exposed-widget .form-submit:hover,
.views-exposed-form .views-exposed-widget .form-submit:active,
.views-exposed-form .views-exposed-widget .form-submit.active,
.views-exposed-form .views-exposed-widget .form-submit.disabled,
.views-exposed-form .views-exposed-widget .form-submit[disabled] {
  background-color: #d3754e;
  *background-color: #ce653a;
}
.views-exposed-form .views-exposed-widget .form-submit:active,
.views-exposed-form .views-exposed-widget .form-submit.active {
  background-color: #bf592f \9;
}
.views-exposed-form .views-exposed-widget .form-submit:hover,
.views-exposed-form .views-exposed-widget .form-submit:active,
.views-exposed-form .views-exposed-widget .form-submit.active,
.views-exposed-form .views-exposed-widget .form-submit.disabled,
.views-exposed-form .views-exposed-widget .form-submit[disabled] {
  background-color: #d3754e;
  *background-color: #ce653a;
  background-position: 0 -50px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.views-exposed-form .views-exposed-widget .form-submit:active,
.views-exposed-form .views-exposed-widget .form-submit.active {
  background-color: #bf592f \9;
}
/*
  ------------------------------------------------------------------------------
  ** Tabs
  ------------------------------------------------------------------------------
*/
.tabs.primary {
  float: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  width: auto;
}
.tabs.primary li {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
}
.tabs.primary li:hover {
  background-color: #e2e2e2;
}
.tabs.primary li.active {
  background-color: #e2e2e2;
  border: 1px solid #ccc;
}
/*
  ------------------------------------------------------------------------------
  ** Footer logo
  ------------------------------------------------------------------------------
*/
.attribution .ckan-footer-logo {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}
.drupal-footer-logo {
  background: url("../img/drupal-footer-logo.png") no-repeat;
  float: left;
  height: 25px;
  width: 104px;
}
