/*
  ==============================================================================
  ** Drupal specific styling
  ==============================================================================
*/


/*
  ------------------------------------------------------------------------------
  ** Forum
  ------------------------------------------------------------------------------
*/
.block-forum .module-content {
  padding: 0;
}

.page-forum .item-list  ul{
  margin-bottom: 0;
}

.page-forum .item-list li {
  list-style: none;
  margin-left: 0;
  padding: 10px 15px;
}

.block-forum .module-content .more-link {
  margin-right: 10px;
}


/*
  ------------------------------------------------------------------------------
  ** Footer logo
  ------------------------------------------------------------------------------
*/
.attribution .ckan-footer-logo {
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}

.drupal-footer-logo {
  background: url("../img/drupal-footer-logo.png") no-repeat;
  float: left;
  height: 25px;
  width: 104px;
}
